[submodule "src/FIRe/lerobot_teleoperators/lerobot_teleoperator_inverse3"]
	path = src/FIRe/lerobot_teleoperators/lerobot_teleoperator_inverse3
	url = https://github.com/chohh7391/lerobot_teleoperator_inverse3.git
